<h4>Fake company generator!</h4>
<hr>
<h2><%= @company_name %></h2>
<hr>
<p>Company focus:</p>
<h3><%= @company_phrase %></h3>
<hr>
<p>Company slogan:</p>
<h3> <%= @company_bs %></h3>
<hr>
<%= link_to 'Generate a new fake company!', fake_path, class: 'btn btn-primary btn-small' %>
